.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-bg-home);
}

.content {
  display: flex;
  flex-direction: row;
}

.logo {
  height: fit-content;
  width: fit-content;
  overflow-y: hidden;
  margin-right: 25px;
}

.info {
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.name {
  color: var(--color-text-light);
  font-size: var(--name-font-size);
  font-weight: var(--name-font-weight);
  line-height: var(--name-font-height);
}

.title {
  color: var(--color-text-light);
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--title-font-height);
}

.line hr {
  width: 580px;
  height: 0px;
  border: 5px solid #ffffff;
  margin: 1rem 0rem;
}

.resume {
  display: flex;
  justify-content: flex-end;
}

.button_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.projects button {
  background-color: var(--color-button-std-purple);
}

.projects button p {
  margin-left: auto;
  margin-right: auto;
  color: var(--color-button-text-purple);
}

.projects button:hover {
  background-color: var(--color-button-std-purple-hover);
}
.contact button {
  background-color: var(--color-button-std-blue);
}

.contact button p {
  margin-left: auto;
  margin-right: auto;
  color: var(--color-button-text-blue);
}

.contact button:hover {
  background-color: var(--color-button-std-blue-hover);
}

.resume button {
  background-color: var(--color-button-cta);
}

.resume button p {
  color: var(--color-button-text-cta);
}

.resume button:hover {
  background-color: var(--color-button-cta-hover);
}

.chevronDown {
  fill: #ffffff;
  display: flex;
  position: absolute;
  justify-content: center;
  overflow-x: unset;
  width: 100%;
  bottom:0;
  margin: 0 auto;
}

@media screen and (max-width: 1080px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
  }

  .name {
    width: 100%;
    font-size: var(--name-tablet-font-size);
    font-weight: var(--name-tablet-font-weight);
    line-height: var(--name-tablet-font-height);
  }

  .title {
    width: 100%;
    font-size: var(--title-tablet-font-size);
    font-weight: var(--title-tablet-font-weight);
    line-height: var(--title-tablet-font-height);
  }
  .line {
    width: 100%;
  }

  .line hr {
    width: 95%;
    height: 0px;
    border: 5px solid #ffffff;
    margin: 1rem 0rem;
  }

  .projects button {
    width: 100px;
  }

  .projects p {
    font-size: 18px;
  }

  .contact button {
    width: 100px;
  }

  .contact p {
    font-size: 18px;
  }
}

@media screen and (max-width: 550px) {
  .content {
    flex-direction: column;
    width: 100%;
  }

  .info {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
  }

  .name {
    font-size: var(--name-mobile-font-size);
    font-weight: var(--name-mobile-font-weight);
    line-height: var(--name-mobile-font-height);
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: var(--title-mobile-font-size);
    font-weight: var(--title-mobile-font-weight);
    line-height: var(--title-mobile-font-height);
    margin-left: auto;
    margin-right: auto;
  }
  .line {
    width: 100%;
  }

  .line hr {
    width: 95%;
    height: 0px;
    border: 5px solid #ffffff;
    margin: 1rem 0rem;
  }

  .contact {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
  }

  .name {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
  }

  .line hr {
    width: 100%;
  }

  .projects button {
    width: 120px;
  }

  .resume button {
    width: 150px;
  }
}
