.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 25px;
  flex-wrap: wrap;
  background-color: var(--color-pill);
  border-radius: 25px;
  margin: 10px 5px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-light);
}